
<h1>Items</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Qty</th>
      <th scope="col">Size</th>
      <th scope="col">Single Item Price</th>
      <th scope="col">Buying Cost</th>
      <th scope="col">Total Price</th>
      <th scope="col">Buying Total</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | async">
      <th scope="row">
        {{ item.title || 'missing title' }}
      </th>
      <td>{{ item.qty}}</td>
      <td>{{item.size}}</td>
      <td>{{item.price}}</td>
      <td>{{item.buyingprice}}</td>
      <td>{{item.price * item.qty}}</td>
      <td>{{item.buyingprice * item.qty}}</td>
      <td><button class="button is-small is-danger card-footer-item" (click)='editItem(content,item)'>Edit</button></td>
      <td><button class="button is-small is-danger card-footer-item" (click)='deleteItem()'>Delete</button></td>
    </tr>
    <tr>
      <th scope="row">Total Price</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{totalprice}}</td>
    </tr>
  </tbody>
</table>
<loading-spinner *ngIf="showSpinner"></loading-spinner>
<hr>
<button type="button" class="button is-danger" (click)='deleteItems()'>Delete Entire List</button>
<button type="button" class="button is-danger" (click)='createItems(contentCreate)'>Create New Item</button>

<ng-template #contentCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <item-form></item-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="label">Name: </label>

    <input placeholder="Item Specification" class="input" [(ngModel)]="item.title" required minlength="2" maxlength="23" #title='ngModel' autofocus>

    <label class="label">Size: </label>
    <input placeholder="Item Size" class="input" [(ngModel)]="item.size" required minlength="2" maxlength="23" #size='ngModel' autofocus>

    <label class="label">Qty: </label>
    <input placeholder="Item Qty" class="input" [(ngModel)]="item.qty" required minlength="2" maxlength="23" #qty='ngModel' autofocus>

    <label class="label">Single Item Price: </label>
    <input placeholder="Item Price" class="input" [(ngModel)]="item.price" required minlength="2" maxlength="23" #price='ngModel' autofocus>
    <label class="label">Buying Cost for an Item : </label>
    <input placeholder="Item Price" class="input" [(ngModel)]="item.buyingprice" required minlength="2" maxlength="23" #buyingprice='ngModel' autofocus>

    <div *ngIf="title.dirty">
      <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
    </div>

    <button class="button is-primary" (click)="updateItem(item);d('Cross click')" [disabled]="!title.valid">Update</button>

    <ng-template #valid>
      <p class="help is-success">looks good!</p>
    </ng-template>
    <ng-template #errors>
      <p class="help is-danger">form contains errors!</p>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
