<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bible2.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/logo.png" alt="">
          </div>
          <h1 class="presentation-title presentation-title-"> <b class="fnt-size">Jesus Vision</b> <br> Delevernce Ministry</h1>
        </div>
        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto">God is Spirit, and His worshipers must worship Him in spirit and in truth.</h6>
    <h6 class=" category-absolute ml-auto mr-auto" style="top:72vh;">John 4:24</h6>
  </div>
  <div class="javascript-components">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="tim-title">
            <h3>Upcoming Events</h3>
          </div>
          <div class="">
            <div class="row">
              <div class="col">
                <ul class="event-list event-up">
                  <li *ngFor="let order of orders | async;let i=index">
                    <time datetime="2018-01-22">
                         <span class="day">{{order.date}}</span>
                         <span class="month">{{order.month}}</span>
                         <span class="year">2018</span>
                         <span class="time">ALL DAY</span>
                       </time>
                    <div class="info">
                      <h2 class="title">{{order.title}}</h2>
                      <p class="desc">{{order.description}}</p>
                      <p class="desc">{{order.location}}</p>
                      <ul *ngIf="order.booking" (click)="bookNow(contentBook,order)">
                        <li style="width:50%;"><a><span class="fa fa-globe"></span> Book Now</a></li>
                      </ul>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="tim-title">
            <h3>Monthly Events</h3>
          </div>
          <div class="">
            <div class="row">
              <div class="col">
                <ul class="event-list event-up">
                  <li *ngFor="let order of onedays | async;let i=index">
                    <time datetime="2018-01-22">
                         <span class="day">{{order.date}}</span>
                         <span class="month">{{order.month}}</span>
                         <span class="year">2018</span>
                         <span class="time">ALL DAY</span>
                       </time>
                    <div class="info">
                      <h2 class="title">{{order.title}}</h2>
                      <p class="desc">{{order.description}}</p>
                      <p class="desc">{{order.location}}</p>
                      <ul *ngIf="order.booking">
                        <li style="width:50%;"><a><span class="fa fa-globe"></span> Book Now</a></li>
                      </ul>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!-- <app-modal-component></app-modal-component> -->
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="../assets/img/faces/shibubr.jpg" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Shibu John Ealayil</h4>
                  <h6 class="card-category">Director</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tim-title">
            <h3 style="color:#000;">Jesus Vision Activities</h3>
            <p>Monthly Events</p>
          </div>
        </div>

      </div>
    </div>
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-3 card">
            <div class="info">
              <div class="icon icon-danger">
                <img src="../assets/img/20153.jpg" style="width:100%;" alt="Random third slide">

              </div>
              <div class="description">
                <h4 class="info-title">Prayer Meetings</h4>
                <p>Prayer meetings conducting once in a month overall 25 centers worldwide. Please find your nearset place from the above list for the worship and prayer.</p>
                <a href="#pkp" class="btn btn-link btn-danger">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 card">
            <div class="info">
              <div class="icon icon-danger">
                <img src="../assets/img/20144.jpg" style="width:100%;" alt="Random third slide">
              </div>
              <div class="description">
                <h4 class="info-title">Deliverance Camp</h4>
                <p>3 Day Deliverance Camp conducted on every month. Please see the Events for the upcoming date.</p>
                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 card">
            <div class="info">
              <div class="icon icon-danger">
                <img src="../assets/img/powervision.jpg" style="width:100%;" alt="Random third slide">
              </div>
              <div class="description">
                <h4 class="info-title">Vachana Virunu</h4>
                <p>The power of Word of God through Tv channel POWER VISION <br>Tuesday, Wedneseday, Thursday 12.30 - 1.00 IST</p>
                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 card">
            <div class="info">
              <div class="icon icon-danger">
                <img src="../assets/img/bible.jpg" style="width:100%;" alt="Random third slide">
              </div>
              <div class="description">
                <h4 class="info-title">Prayer Requests</h4>
                <p>Please send your Prayer requests through our facebook page. Our Team will prayer for you and will contact you if needed.</p>
                <a href="https://www.facebook.com/JesusVisionDeliveranceMinistry/" target="_blank" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Facebook!">
                  <i class="fa fa-facebook-square"></i> Facebook
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="carousel">
      <div class="container">
        <div class="tim-title">
          <h3>Gallery</h3>
        </div>
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="../assets/img/2014.jpg" alt="Random second slide">
                  <div class="carousel-caption">
                    <p style="background: #000;">2014</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/20141.jpg" alt="Random third slide">
                  <div class="carousel-caption">
                    <p style="background: #000;">2014</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide *ngFor="let img of images;let i=index">
                  <img src="{{img.src}}" alt="Random first slide">
                  <div class="carousel-caption">
                    <p style="background: #000;">{{img.year}}</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div class="col-md-4  mr-auto ml-auto">
            <div class="fb-page" data-href="https://www.facebook.com/JesusVisionDeliveranceMinistry/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/JesusVisionDeliveranceMinistry/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/JesusVisionDeliveranceMinistry/">JESUS Vision Deliverance Ministry</a></blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="carousel">
      <div class="container">
        <div class="tim-title">
          <h3>You Tube</h3>
        </div>
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
              <iframe height="315" src="https://www.youtube.com/embed/wJRWyFwez6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="section">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Do you want to send a prayer request?</h2>
              <p class="description">Please send your prayer request through our facebook page. our team is ready to guide you through the "word of god" and will pray for your spiritual life.</p>
            </div>
          </div>
          <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
              <h3>Thank you for supporting us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">

              <a href="https://www.youtube.com/channel/UCs_R6NLNdZ0viPUcxZQOdpA" target="_blank" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                          <i class="fa fa-youtube"></i> YouTube
                      </a>
              <a href="https://www.facebook.com/JesusVisionDeliveranceMinistry/" target="_blank" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                          <i class="fa fa-facebook-square"></i> Facebook
                      </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #contentBook let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{selectedOrder.title}} - {{selectedDate}} <br> {{selectedOrder.location}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #bookingform="ngForm" novalidate>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div *ngIf="name.errors && (name.dirty || name.touched)" title="Name is requried" class="alert-tooltip"></div>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="book.name" name="name" #name='ngModel' autofocus required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div *ngIf="phone.errors && (phone.dirty || phone.touched)" title="Phone number is requried" class="alert-tooltip"></div>
                <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="book.phone" name="phone" required minlength="10" maxlength="14" #phone='ngModel'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Number of children accompanied" [(ngModel)]="book.count" #description='ngModel'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div *ngIf="address.errors && (address.dirty || address.touched)" title="Address is requried" class="alert-tooltip"></div>
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="book.address" name="address" #address='ngModel' required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" [(ngModel)]="book.gender"  checked="checked" name="gender" #gender='ngModel' value="male">
                    Male
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender" [(ngModel)]="book.gender" name="gender" #gender='ngModel' value="female">
                  Female
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Place" [(ngModel)]="book.place" #description='ngModel'>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Reference" [(ngModel)]="book.ref" #description='ngModel'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <b>നിബന്ധനകൾ:</b>
                <hr>
                <br> 1. കൈ കുഞ്ഞുങ്ങളുമായി വരുന്നവരെ രജിസ്‌ട്രേഷൻ ചെയ്യുന്നതല്ല.
                <br> 2. അഞ്ചു വയസ്സിനു മുകളിലുള്ള കുട്ടികളെ കൊണ്ടുവരാവുന്നതാണ്. അഞ്ചിനും 12 വയസ്സിനും ഇടയിലുള്ള കുട്ടികൾക്കാണ് സാറാഫിൻ ധ്യാനം
                <br> 3. എട്ടുവയസ്സിനു മുകളിലുള്ള ആൺകുട്ടികളെ ലേഡീസ് ഡോർമെറ്ററിയിൽ കിടത്താൻ അനുവദിക്കുന്നതല്ല.
                <br> 4. വരുവാൻ സാധിക്കുന്നവർ മാത്രം ബുക്ക് ചെയുക. അനാവശ്യമായ ബുക്കിംഗ് ഒഴിവാക്കുക
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <button type="button" style="width:100%" class="btn btn-success btn-full" [disabled]="!bookingform.valid" (click)="booking(BookingCompleted, book);d('Cross click')">Book Now</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template #BookingCompleted let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title"> Booking Completed successfully</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">
            <div class="form-group">
              <button type="button" class="btn btn-success" (click)="d('Cross click')">Close</button>
              <ng-template #valid>
                <p class="help is-success">looks good!</p>
              </ng-template>

              <ng-template #errors>
                <p class="help is-danger">form contains errors!</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
