<div class="section section-buttons">
  <div class="container">
    <div>
      <h4>Upcoming Camps</h4>
      <button type="button" class="btn btn-success" (click)='createCamp(contentCampCreate)'>Add New Camp</button>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Month</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Booking</th>
              <th scope="col">Active</th>
              <th scope="col">Delete</th>
              <th scope="col">Bookings</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders | async;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>
                {{ order.title || 'missing title' }}
              </td>
              <td>{{order.date}}</td>
              <td>{{order.month}}</td>
              <td>{{order.description}}</td>
              <td>{{order.location}}</td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (click)="updateStatus(order)" [(ngModel)]="order.booking">
                    Enabled
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="order.active">
                      Visible
                      <span class="form-check-sign"></span>
                    </label>
                </div>
              </td>
              <td><button class="btn btn-warning" (click)='deleteOrder(order)'>Delete</button></td>
              <td><button class="btn btn-warning" (click)='detailsBooking(detailsBookingDetails,order)'>Details</button></td>

            </tr>
          </tbody>
        </table>
      </div>
      <loading-spinner *ngIf="showSpinner"></loading-spinner>
      <br>
      <hr>
    </div>
    <div>
      <h4>One Day Conventions</h4>
      <button type="button" class="btn btn-success" (click)='createCamp(contentOneCreate)'>Add New Camp</button>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">Day</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Booking</th>
              <th scope="col">Active</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of onedays | async;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>
                {{ order.title || 'missing title' }}
              </td>
              <td>{{order.date}}</td>
              <td>{{order.month}}</td>
              <td>{{order.description}}</td>
              <td>{{order.location}}</td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (click)="updateStatusOneDay(order)" [(ngModel)]="order.booking">
                    Enabled
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="order.active">
                      Visible
                      <span class="form-check-sign"></span>
                    </label>
                </div>
              </td>
              <td><button class="btn btn-warning" (click)='deleteOneDay(order)'>Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <loading-spinner *ngIf="showSpinner"></loading-spinner>
      <br>
      <hr>
    </div>
  </div>
</div>
<ng-template #contentCampCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Camp</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <order-form></order-form>
  </div>
</ng-template>
<ng-template #contentOneCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New One Day Camp</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <order-detail></order-detail>
  </div>
</ng-template>
<ng-template #detailsBookingDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Booking - Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="modal-title"><span>Total Bookings - {{totalprice}}</span></h4>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Place</th>
            <th scope="col">Phone</th>
            <th scope="col">Count</th>
            <th scope="col">Reference</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookings | async;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>
              {{ book.name || 'missing Name' }}
            </td>
            <td>
              {{ book.place || 'missing Place' }}
            </td>
            <td>
              {{ book.phone || 'missing Phone' }}
            </td>
            <td>
              {{ book.count || 'missing Number' }}
            </td>
            <td>
              {{ book.ref || 'missing Reference' }}
            </td>

              <td><button class="btn btn-warning" (click)='deleteBooking(book)'>Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
