<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title"  [(ngModel)]="order.title" required #title='ngModel' autofocus>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="2nd"  [(ngModel)]="order.date" required  #date='ngModel' autofocus>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Sat"  [(ngModel)]="order.month" required  #month='ngModel' autofocus>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Description"  [(ngModel)]="order.description" required  #description='ngModel' autofocus>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Location"  [(ngModel)]="order.location" required  #description='ngModel' autofocus>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)='createOrder()' [disabled]="!title.valid">Create</button>
          <ng-template #valid>
            <p class="help is-success">looks good!</p>
          </ng-template>

          <ng-template #errors>
            <p class="help is-danger">form contains errors!</p>
          </ng-template>
        </div>
    </div>
</div>
