<div class="page-header section-dark" style="background-image: url('assets/img/bible2.jpg')">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="title-brand">
        <div class="angular-logo">
          <img src="assets/img/logo.png" alt="">
        </div>
        <h1 class="presentation-title">Jesus Vision Delevernce Ministry</h1>
        <!-- <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div> -->
      </div>

      <h2 class="presentation-subtitle text-center"></h2>
    </div>
  </div>
  <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
  <h6 class=" category-absolute ml-auto mr-auto">God is Spirit, and His worshipers must worship Him in spirit and in truth.</h6>
  <h6 class=" category-absolute ml-auto mr-auto" style="top:72vh;">John 4:24</h6>
</div>
<div class="bg-black" *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <h3>Admin Login</h3>

    <!-- <button (click)="signInWithGoogle()" class="button btn-social btn-google">
      <i class="fa fa-google fa-lg"></i> Connect Google
    </button>

    <button (click)="signInWithGithub()" class="button btn-social btn-github" disabled>
      <i class="fa fa-github fa-lg"></i> Connect GitHub
    </button>

    <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook" disabled>
      <i class="fa fa-facebook fa-lg"></i> Connect Facebook
    </button>

    <button (click)="signInWithTwitter()" class="button  btn-social btn-twitter" disabled>
      <i class="fa fa-twitter fa-lg"></i> Connect Twitter
    </button> -->

    <!-- <hr>

    <h3>Anonymous Login</h3>

      <button (click)="signInAnonymously()" class="button button-info">
        <i class="fa fa-user-secret fa-lg"></i> Connect Anonymously
      </button>

    <hr> -->

    <user-form></user-form>

</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Already logged in!
  </p>
</ng-template>
